.MainLayout {
    background: white;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: minmax(70px, 90px) 1fr minmax(40px, 50px);
    grid-template-columns: minmax(150px, 150px) 1fr;
}

.MainLayout.white-background {
    background: white !important;
}

header, footer {
    grid-column: span 2;
    border: 0.5px solid grey;
}

header, aside, main, footer {
    border-radius: 8px;
    margin: 10px;
    padding: 4px;
    background-color: white;
}

aside {
    margin-right: 0;
    border: 0.5px solid grey;
}


footer {
    background: transparent !important;
}

main {
    background: transparent !important;
    overflow: auto;
    min-height: 0;
}

.MainLayout > * {
    font-family: Arial;
}
