.MovieListContainer {
    padding: 20px;
}

.MovieListContainer h3 {
    margin-bottom: 16px;
}

.MovieList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

img {
    width: 180px;
    height: 220px;
}